re<html>
<html lang="en">
<head>
  <title>Signup Page</title>
  <meta charset="utf-8">
  <link rel="icon" href="/images/icon.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
</head>
<link rel="stylesheet" href="/css/login.css">
<style>
    label {color:antiquewhite}
    h4   {color: antiquewhite;}
    p    {color: antiquewhite;}
    </style>
  <body>
  <div class="container">
    <h4>Sign up</h4><br />
    <form id="signup-form">
      <div id="login_div" class="main-div">
        <div class="inputBox">
            <input type="text" id="signup-name" required />
            <label for="signup-name">Name</label>
          </div>
          <div class="inputBox">
            <input type="text" id="signup-username" required />
            <label for="signup-username">Username</label>
          </div>
      <div class="inputBox">
        <input type="email" id="signup-email" required />
        <label for="signup-email">Email Address</label>
      </div>
      <div class="inputBox">
        <input type="password" id="signup-password" required />
        <label for="signup-password">Choose Password</label>
      </div>
      <div class="inputBox">
        <input type="text" id="signup-company" required />
        <label for="signup-company">Company</label>
      </div>
      <div class="inputBox">
        <input type="text" id="signup-bio" required />
        <label for="signup-bio">Description</label>
      </div>
      <div class="inputBox">
        <select id="signup-priv" required>
            <option>-</option>
            <option>Standard User</option>
            <option>Administrator</option>
        </select>
        <label for="signup-priv">User Level</label>
      </div>
      <button class="btn btn-sm round">Sign up</button>
    </form>
        </div>
        <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script>  
        <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-firestore.js"></script>
      <script>
    var firebaseConfig = {
    apiKey: "AIzaSyBJspFr6QSvhEAmONVu3Tl7lZrRFQSA-8I",
    authDomain: "analyzerdb.firebaseapp.com",
    databaseURL: "https://analyzerdb-default-rtdb.firebaseio.com",
    projectId: "analyzerdb",
    storageBucket: "analyzerdb.appspot.com",
    messagingSenderId: "326480477399",
    appId: "1:326480477399:web:2b7cf4d69a4895daeb8492",
    measurementId: "G-NHM4EMZ8HS"
  };
    firebase.initializeApp(firebaseConfig);
 
    // make auth and firestore references
    const auth = firebase.auth();
    const db = firebase.firestore();
    // update firestore settings
    db.settings({ timestampsInSnapshots: true });

    //signup
    const signupForm = document.querySelector('#signup-form');
signupForm.addEventListener('submit', (e) => {
  e.preventDefault();
  // get user info
  const email = signupForm['signup-email'].value;
  const password = signupForm['signup-password'].value;


  auth.createUserWithEmailAndPassword(email, password).then(cred => {
    return db.collection('users').doc(cred.user.uid).set({
      Name : signupForm['signup-name'].value, 
      Description : signupForm['signup-bio'].value, 
      Username :    signupForm['signup-username'].value, 
      EMail :       signupForm['signup-email'].value, 
      Company :   signupForm['signup-company'].value,
      UserLevel :   signupForm['signup-priv'].value, 
    })
  }).then(() => {
    // sign up the user & add firestore data
    db.collection("username").doc(signupForm['signup-username'].value).set(
            {
              email : signupForm['signup-email'].value
            })
    alert("Data Written!"); 
  });
});
  </script>
  </body>
  </html> 