body {
  font-family: 'Segoe UI';
  background: #fafafa;
}

div.header {
  display: none;
}

p {
  font-family: 'Segoe UI';
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 10px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  margin: 20px !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-custom {
  background-color: #296e74;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;

}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

a.date {
  font-family: 'Segoe UI';
  font-size: 30px;
}

a.clock {
  font-family: 'Segoe UI Light';
  font-size: 20px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
  ----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
}


#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #39464d;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform: translate3d(0px, 0px, 0px);
  font-family: 'Segoe UI Semibold';
}

#sidebar.active {
  margin-left: -250px;
  transform: translate3d(0px, 0px, 0px);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #39464d;
}

/* #sidebar ul.components {
  padding: 20px 0;
  order-bottom: 1px solid #47748b;
} */

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
  font-family: 'Segoe UI Light';
}

#sidebar ul p.search {
  color: #fff;
  padding: 10px;
  font-family: 'Segoe UI Semibold';
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #39464d;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #296e74;
}


a[data-toggle="collapse"] {
  position: relative;
}

p.op {
  font-family: 'Segoe UI';
  color: black;
  font-size: 35px;
}

p.op-name {
  font-family: 'Segoe UI';
  color: black;
  font-size: 15px;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #39464d;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
  ----------------------------------------------------- */
#content {
  width: 100%;
  padding: 0px;
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #fff;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}

#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
  ----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
    transform: translate3d(0px, 0px, 0px);
  }

  #sidebar.active {
    margin-left: 0;
    transform: none;
  }

  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }

  #sidebarCollapse.active span {
    margin: 0 auto;
  }

  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }

  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }

  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }

  


  .inputBoxDocname input {

    padding-left: 5px;
    font-size: 16px;
    color: #333232;
    border: none;
    border-bottom: 0.065rem solid #333232;
    outline: none;
    background: transparent;
    font-family: "Segoe UI Semibold";
  }

  
  .inputBoxBreedname input {

    padding-left: 5px;
    font-size: 16px;
    color: #333232;
    border: none;
    border-bottom: 0.065rem solid #333232;
    outline: none;
    background: transparent;
    font-family: "Segoe UI Semibold";
  }

}

.user-bg {
  background-color: #3599a8;
  width: 30px;
  height: 30px;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  font-family: 'Segoe UI';
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}

div.run {
  font-size: 35px;
  color: #277277;
  font-family: 'Segoe UI';

}

div.ids {
  font-size: 20px;
  color: #277277;
  font-family: 'Segoe UI Light', sans-serif;

}

div.tabletext {
  font-size: 18px;
  color: #277277;
  font-family: 'Segoe UI Light';

}

div.subtabletext {
  font-size: 18px;
  color: #277277;
  font-family: 'Segoe UI';

}

#results1 {
  font-family: 'Segoe UI';
  border-collapse: collapse;
  width: 35%;
  margin-left: 32%;
}

#results1 td {
  border: 1px solid #000000;
  padding: 4px;
  text-align: center;
}

#results1 th {
  border: 1px solid white;
  padding: 2px;
  text-align: center;
  width: 30%
}
 


#results1 tr:nth-child(even) {
  background-color: #FFFFFF;
}

#results1 tr:hover {
  background-color: #E8E8E8;
}

#results1 th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #277277;
  color: white;
}

#seq {
  color: rgb(10, 9, 9);
  font-family: 'Segoe UI';
  font-size: 18px;
}

#seq2 {
  color: rgb(10, 9, 9);
  font-family: 'Segoe UI';
  font-size: 17px;
}

.inputBoxPetsName input {
  width: 100%;
  padding-left: 5px;
  font-size: 21px;
  color: #333232;
  border: none;
  border-bottom: 0.065rem solid #333232;
  outline: none;
  background: transparent;
  font-family: "Segoe UI Semibold";
  margin-top: 6px;
}

.inputBoxBreedname input {

  padding-left: 5px;
  font-size: 16px;
  color: #333232;
  border: none;
  border-bottom: 0.065rem solid #333232;
  outline: none;
  background: transparent;
  font-family: "Segoe UI Semibold";
}

.inputBoxOwnername input {
  width: 100%;
  padding-left: 5px;
  font-size: 22px;
  color: #333232;
  border: none;
  border-bottom: 0.065rem solid #333232;
  outline: none;
  background: transparent;
  font-family: "Segoe UI Semibold";
  margin-top: 4px;
}

.inputBoxSpecies input {
  width: 100%;
  padding-left: 5px;
  font-size: 16px;
  color: #333232;
  border: none;
  border-bottom: 0.065rem solid #333232;
  outline: none;
  background: transparent;
  font-family: "Segoe UI Semibold";
}

.inputBoxAge input {
  width: 100%;
  padding-left: 5px;
  padding-top: 98%;
  font-size: 30px;
  color: #333232;
  border: none;
  border-bottom: 0.065rem solid #333232;
  outline: none;
  background: transparent;
  font-family: "Segoe UI Semibold";
  
}

.inputBoxTime input {
  width: 100%;
  padding-left: 5px;
  font-size: 30px;
  color: #333232;
  border: none;
  border-bottom: 0.065rem solid #333232;
  outline: none;
  background: transparent;
  font-family: "Segoe UI Semibold";
}

.ageinputs {
  font-size: 30px;
}




#barcode1 {
  display: none;

}

.chip, .cbc
{
  font-family: 'Segoe UI Semibold';
  text-align: left;
  font-size: 20px;
  padding-bottom: 12px;
  color: black; 
}


.column1, .column2, #vertical {
  display: flex;
  flex-direction: column;
  
}
.column1 {
  float: left;
  width: 50%;
  padding-left: 58px;
}
.column2
{
  padding-left:29px;
}
.horizontal_line {
  background-color: black;
  width: 100%;
  height: 2px;
  border-top:  black;
  line-height: 50%;
  visibility: hidden;
}
.horizontal_line2 {
  background-color: black;
  width: 100%;
  height: 2px;
  border-top:  black;
  line-height: 50%;
  margin-top: 28px; 
  visibility: hidden;
}
.horizontal_line3{
  background-color: black;
  width: 100%;
  height: 2px;
  border-top:  black;
  line-height: 50%;
  margin-top: 28px;
  visibility: hidden;
}

.horizontal_line4{
  background-color: black;
  width: 50%;
  height: 2px;
  border-top:  black;
  line-height: 50%;
  margin-top: 30px;
  visibility: hidden;
 
}
.horizontal_line5{
  background-color: black;
  width: 50%;
  height: 2px;
  border-top:  black;
  line-height: 50%;
  margin-top: -10px;
  visibility: hidden;
  
}
.vertical {
  -webkit-print-color-adjust: exact;
  background-color: black;
  width: 1px;
  height: 489px;
  line-height: 90%;
  position: relative;
  float: left; 
  margin-left: -18px;
  visibility: hidden;
}
.testclass {
  -webkit-print-color-adjust: exact;
  background-color: transparent;
 
}
#column1 {
  width: 92%; 
  color: black;
}
#column2 {
  width: 106%; 
  color : black
}

.header12{
  display:none;
 
}
.header123{
  display:none;
  
}



 .signatoriesyes{
   display: none; 
} 

@media print {

  .signatoriesyes{
    display: block;
  }

  .header12, .header123{
    display: flex;
    flex-direction: column;
  }

  .header12{
    float: left;
    display: block;
    margin-top: 40px;
    padding-left: 100px;
  
  }
  .header123{
    float: right;
    display: block;
    padding-right: 200px;
    margin-top: 75px;
  
  }
  #logo1{
    position:static;
  }
  #clinic1{
    font-family: 'Segoe UI Semibold';
    font-size: 35px;
    position: static;
    width: 450px;
   height: 100%;
   text-align: center;
   /* border: 1px solid black; */
   overflow: auto;
   font-size: 35px;
  }

  #address{
    padding-top: 20px;
   text-align: center;
    font-family: 'Segoe UI Light';
    font-size: 20px;
  }
  
#gender{
  padding-left: 15px;
  background-color: transparent;
  font-family: "Segoe UI Semibold"; 
  font-size: 15px;
  border: none;
  outline: none;
  text-transform:uppercase;

}
#species{
  padding-left: 15px;
  background-color: transparent;
  font-family: "Segoe UI Semibold"; 
  font-size: 15px;
  border: none;
  outline: none;
  text-transform:uppercase;
 
}
  th {
    color: black;
  }
  div#new-row {
    padding-top: 120px;
}
  ::-webkit-scrollbar {
    display: none;
  }
  #column2 {
    width: 100%;
    color : black
  }

#labtechnician1{
  
  float: right;
  margin-top: -24px;
  margin-right: 40px;
  font-family: 'Segoe UI Semibold';
    font-size: 14px;
    visibility: visible;
    color : black;
    white-space: nowrap;
}
#details1{
  /* float: right; */
  position: static;
  margin-top: 5px;
  padding-left: 485px;
  /* margin-right: 95px; */
  font-family: 'Segoe UI Semibold';
    font-size: 14px;
    visibility: visible;
    white-space: nowrap;
    color:black;
}
#details2{
position: absolute;
 float: none;
  /* margin-top: 5px; */
  /* object-position: center top; */
  /* padding-right: 200px; */
  margin-left: 740px;
  margin-top: -17px;
  font-family: 'Segoe UI Semibold';
    font-size: 14px;
    visibility: visible;;
    color: black;
    /* white-space: nowrap; */
}

#signature1{
  float: right;
  margin-top: -120px;
  margin-right: -160px;
 
}

#signature2{
  float: right;
  margin-top: -120px;
  margin-right: 90px;
  /* margin-right: 500px; */
}

#vet1{
  float: right;
  margin-top: -24px;
  margin-right: -240px;
  font-family: 'Segoe UI Semibold';
  font-size: 14px;
  visibility: visible;
  white-space: nowrap;
  color : black;
  
}


  .horizontal_line{
    background-color: black;
  width: 100%;
  height: 2px;
  border-top:  black;
  line-height: 50%;
  -webkit-print-color-adjust: exact;
  visibility: visible;
  }
   .horizontal_line2{
    background-color: black;
    width: 100%;
    height: 2px;
    border-top:  black;
    line-height: 50%;
    -webkit-print-color-adjust: exact;
    visibility: visible;
  }
  .horizontal_line3 {
    background-color: black;
    width: 100%;
    height: 2px;
    border-top:  black;
    line-height: 50%;
    -webkit-print-color-adjust: exact;
    visibility: visible; 
  }
  .horizontal_line4 {
    background-color: black;
    width: 30%;
    height: 2px;
    border-top:  black;
    line-height: 50%;
    -webkit-print-color-adjust: exact;
    visibility: visible; 
    margin-top: 50px;
    margin-left: 450px;
  }
  .horizontal_line5 {
    background-color: black;
    width: 35%;
    height: 2px;
    border-top:  black;
    line-height: 50%;
    -webkit-print-color-adjust: exact;
    visibility: visible; 
    margin-top: -2px;
    margin-left: 690px;
    
  }
  .vertical {

    visibility: visible;
  }
  #remarks-textarea {
    background-color: transparent;
    border: none;
    float:left;
    resize: none; 
    text-align: justify;
    white-space: normal;
  }
 
 
  .BOTTOMTEXT
  {
    float: left;
  }

  #PID,
  #DATE {
    font-family: 'Segoe UI Semibold';
  }

  #results {
    align-items: center;
    width: 450px;
  }
  .column1, .column2 {
    display: flex;
    flex-direction: column;
  }
  .column1 {
    float: left;
    width: 50%;
    padding-left: 10px;
  }
  .column2
  {
    padding-left:29px;
  }
  input#ownernameinputs,
  input#petnameinputs
   {
    width: 120%;
    border-bottom: none;
    font-weight: bold;
  }

  .inputBoxTime {
    display: block;
    width: 250px;
    font-weight: bold;
  
  }

  #refreshbtn {
    display: none;
  }

  #resetBtn {
    display: none;
  }

  #submitbtn,
  .btn-sbt {
    display: none;
    visibility: hidden;
  }

  #printbtn {
    display: none;
  }

  #submitbtn {
    display: none
  }

  #insertBtn {
    display: none;
  }

  #seq {
    color:white
  }

/*   #results th,tr {
    color: white;
    background-color: #277277 !important;
    -webkit-print-color-adjust: exact;
    border: none;
    border-collapse: collapse;
  } */


  #sidebar {
    display: none;
  }

  div.run {
    display: none;
  }

  #notes {
    display: none;
  }

 


  div.header {
    display: block;
  }

  /* #barcode1 {
    display: block;
    margin-top: 30px;
    width: 250px;
  }
 */

  input#physicianinputs {
    width: 200%;
    border-bottom: none;
    font-weight: bold;
  }

  input#breedinputs {
    width: 200%;
    border-bottom: none;
    font-weight: bold;
  }

  .inputBoxTime input {
    padding-left: -295px;
    width: 5px;
    font-size: 100px;
    border-bottom: none;
    font-weight: bold;
  }

  

  select#genderselect.form-select.select-gen {
    border-bottom: none;
    font-weight: bold;
   
    
  }

  select#bloodselect.form-select.select-bld {
    padding-left: 120px;
    border-bottom: none;
    font-weight: bold;
  }

  select#specieselect.form-select.select-spc {
    border-bottom: none;
    font-weight: bold;
  }


  input#ageinputs {
    width: 120%;
    border-bottom: none;
    font-weight: bold;
  }

  input#timeinputs {
    border-bottom: none;
    font-weight: bold;
  }

  #bld1 {
    visibility: hidden;
  }

  
  button.btn {
    border-color: transparent;
    font-size: 11px;
  }

  button.btn.dropdown-toggle.placeholder.btn-light {
    border-color: transparent;
    font-size: 11px;
  }

  div.filter-option {
    font-size: 11px !important;
  }

  .dropdown-menu {
    font-size: 11px !important;
  }

  .dropdown-toggle::after {
    content: none;
  }

  .select-gen {
    border: none;
    border-bottom: none !important;
    outline: none;
    background: transparent;
  }

  .select-spc {
    border: none;
    border-bottom: none !important;
    outline: none;
    background: transparent;
  }
  
  .bootstrap-select>.dropdown-toggle {
    font-size: 15px !important;
  }
  .bootstrap-select .dropdown-menu.inner {
    font-size: 15px!important;
  }

}

/* Button Colors */


.btn-rst {
  background-color: #41c8ab !important;
  padding: 10px 30px;
  font-family: 'Segoe UI Light';
  font-size: 15px;
  border-radius: 25px;
}

.btn-sbt {
  background-color: #337277 !important;
  padding: 10px 30px;
  font-family: 'Segoe UI Light';
  font-size: 15px;
  border-radius: 25px;
}

.btn-prnt {
  background-color: #77cdcc !important;
  padding: 10px 30px;
  font-family: 'Segoe UI Light';
  font-size: 15px;
  border-radius: 25px;
}


tr {
  text-align: left;
  font-size: 23px
}

th {
  text-align: left;
  font-size: 15px;
}

td {
  text-align: left;
  font-size: 15px;
}



.text1 {
  font-size: 15px;
}

.text2 {
  font-size: 15px;
}

#opname {

  display: none;
}


/**header**/
.container .header {
  height: 200px;

}

.container .header .image {
  background: url("https://firebasestorage.googleapis.com/v0/b/analyzerdb.appspot.com/o/clinic.png?alt=media&token=69feb547-661d-4cd1-8cd1-50191bf44cea");
  float: left;
  margin-left: 7%;

  display: inline-block;
}

.address {
  margin-top: 1%;
  text-align: center;
}

.company {
  margin-top: 2%;
  text-align: center;
}

.contact {
  margin-top: 1%;
  text-align: center;
}

.title {
  margin-top: 3%;
  text-align: center;
}

.select-spc {
  color: #333232;
  border: none;
  border-bottom: 0.065rem solid #333232;
  outline: none;
  background: transparent;
  font-size: 15px;
  font-family: "Segoe UI Semibold";
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.select-gen {
  color: #333232;
  border: none;
  border-bottom: 0.065rem solid #333232;
  outline: none;
  background: transparent;
  font-size: 15px;
  font-family: "Segoe UI Semibold";
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-align: center;
}

.select-bld {
  color: #333232;
  border: none;
  border-bottom: 0.065rem solid #333232;
  outline: none;
  background: transparent;
  font-size: 1.3rem;
  font-family: "Segoe UI Semibold";
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#ageinputs {
  font-family: "Segoe UI Semibold";
  font-size: 15px;
  padding-left: 5px;
  border: none;
  outline: none;
  border-bottom: 0.065rem solid #333232;
  width: 48%;
  background: transparent;
  
}

#physicianinputs {
  background-color: transparent;
  font-family: "Segoe UI Semibold"; 
  font-size: 15px;
  border: none;
  outline: none;
  border-bottom: 0.065rem solid #333232;
  width: 90%
}

#breedinputs {
  background-color: transparent;
  font-family: "Segoe UI Semibold"; 
  font-size: 15px;
  border: none;
  outline: none;
  border-bottom: 0.065rem solid #333232;
  width: 90%
}

#timeinputs {
  font-family: "Segoe UI Semibold";
  font-size: 15px;
 padding-left: 13px;
  border: none;
  outline: none;
  border-bottom: none; 
 
  background: transparent;
  
}

#date1 {
  display: none;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  background-color: #336e74;
  background-image: linear-gradient(to bottom, #336e74 0, #336e74 100%);
}


/**modal**/

.modal-header {
  font-family: Segoe UI Light;
  text-align: center;
  color: white;
  background: #337277;
}

.modal-footer {
  background: #fafafa;
}

.text-modal-header {
  font-family: Segoe UI Light;
  color: white;
}


#myModal {
  background-color: rgba(10, 10, 10, 0.45);
}

#errormodal {
  background-color: rgba(10, 10, 10, 0.45);
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#myModal1 {
  background-color: rgba(10, 10, 10, 0.45);
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}


.IDDisplay {
  margin-left: 2px;
}

#UniqueID {
  font-family: 'Segoe UI';
  font-size: 16px;
}

#submitbtn {
  display: none;
}

#user1,
#email2,
#user5 {
  display: none;
}

#results {
  align-items: center;
  width: 450px;
 
}



u {
  text-decoration: none;
}
body {
  line-height: unset;
}

.yay{
  text-align: center;
}
.no-gutters {
  padding-top: 38px; 
}

.inpUpdate1{
  padding-left: 5px;
  font-size: 15px;
  color: #333232;
  width:170px;
  border: none;
  border-bottom: 0.065rem solid #333232;
  outline: none;
  background: transparent;
  font-family: "Segoe UI Semibold";
  
}

.inpUpdate1-2{
  padding-left: 5px;
  font-size: 15px;
  color: #333232;
  width:170px;
  border: none;
  border-bottom: 0.065rem solid #333232;
  outline: none;
  background: transparent;
  font-family: "Segoe UI Semibold";
}

.inpUpdate1-3{
  padding-left: 5px;
  font-size: 15px;
  color: #333232;
  width:130px;
  border: none;
  border-bottom: 0.065rem solid #333232;
  outline: none;
  background: transparent;
  font-family: "Segoe UI Semibold";
}

.inpUpdate2 {
  padding-left: 5px;
  font-size: 15px;
  color: #333232;
  border: none;
  border-bottom: 0.065rem solid #333232;
  width: 50px;
  outline: none;
  background: transparent;
  font-family: "Segoe UI Semibold";
  /* display: ;  */
}


.bootstrap-select>.dropdown-toggle {
  font-size: 11px;
}
.bootstrap-select .dropdown-menu.inner {
  font-size: 11px;
}

#textareaposition {

  padding-top: 10px;
  padding-left: 53px;
  float:left
}
#remarks-textarea {

  width: 400px;
  height: 100px; 
}


.bootstrap-select>.dropdown-toggle.bs-placeholder{
  height: 5px;
}

.bootstrap-select>.dropdown-toggle::before {
  position: relative;
  width: 100%;
  text-align: right;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 28px;
  
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);



.search {
  width: 100%;
  position: relative;
  display: flex;
  padding-bottom: 10px;
}

.searchTerm {
  border: 3px solid #336e74;
  border-right: none;
  padding: 4px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #336e74;
}

.searchTerm:focus{
  color: #336e74;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #336e74;
  background: #336e74;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


#usernamelevel {
  text-align: center; 
  padding-bottom: 12px; 
}
#gender {
  display: none;
}
.modebar {
  display: none;
}
.testclass {
     position: relative;
     padding: 0px;
     margin-top: -113px;
     margin-left: -84px;
     margin-bottom: -105px;
     margin-right: -78px;
}

/* div#alb1 > .plot-container.plotly > .user-select-none.svg-container > svg.main-svg g.indicatorlayer g.trace g.bullet g.value-bullet rect 
{
fill: #41c8ab !important;
} */
